---
layout: layout.njk
title: Cork Forecast
---

<h2 class="title is-3">Cork Forecast</h2>

{% set day = "Today" %}
{% set city = "Cork" %}
{% set temp = "6" %}
{% set description = "Rain" %}
{% set high = "10" %}
{% set low = "4" %}
{% set wind = "30" %}
{% set icon = "🌧️" %}

{% include "card.njk" %}

