---
layout: layout.njk
title: Dublin Forecast
---

<h2 class="title is-3">Dublin Forecast</h2>

{# Basic version of a single day of weather #}
{% set day = "Monday" %}
{% set temp = "8" %}
{% include "card.njk" %}
