---
layout: layout.njk
title: Dublin Forecast
---

<h2 class="title is-3">Dublin Forecast</h2>

{% set day = "Today" %}
{% set city = "Dublin" %}
{% set temp = "10" %}
{% set description = "Showers" %}
{% set high = "12" %}
{% set low = "5" %}
{% set wind = "22" %}
{% set icon = "🌧️" %}

{% include "card.njk" %}

