---
layout: layout.njk
title: Inclement Days
---

<h1 class="title is-3">Inclement Days</h1>
<p>Welcome to the project.</p>

{# Testing card component #}
{% set day = "Today" %}
{% set temp = "12" %}
{% include "card.njk" %}

