---
layout: layout.njk
title: Lisbon Forecast
---

<h2 class="title is-3">Lisbon Forecast</h2>

{% set day = "Today" %}
{% set city = "Lisbon" %}
{% set temp = "13" %}
{% set description = "Sunny" %}
{% set high = "16" %}
{% set low = "11" %}
{% set wind = "10" %}
{% set icon = "☀️" %}

{% include "card.njk" %}

