{# Global Footer #}

<footer class="inclement-footer">
      <div class="footer-container">
        <div class="footer-about">
          <h3>Inclement Days | Weather Forecast</h3>
          <p>
            Weather at your fingertips
          </p>
        </div>

        <div class="footer-contact">
          <h4>Contact Us</h4>
          <p>Email: <a href="mailto:info@inclement.ie">info@inclement.ie</a></p>
          <p>Phone: +353 (0)1 123 4567</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          &copy; 2025 Inclement Days. All rights reserved.
        </p>
      </div>
    </footer>