<aside class="menu inclement-menu">
  <p class="menu-label">Navigation</p>

  <ul class="menu-list">
    <li><a href="/">Home</a></li>
    <li><a href="/dublin/">Dublin</a></li>
    <li><a href="/paris/">Paris</a></li>
    <li><a href="/cork/">Cork</a></li>
    <li><a href="/lisbon/">Lisbon</a></li>
    <li><a href="/summary/">Weekly Summary</a></li>
  </ul>
</aside>
