<nav class="navbar is-dark" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.svg" alt="Inclement Days Logo" class="logo"/>
      <span class="ml-2 has-text-weight-semibold">Inclement Days</span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/dublin/">Dublin</a>
      <a class="navbar-item" href="/paris/">Paris</a>
      <a class="navbar-item" href="/cork/">Cork</a>
      <a class="navbar-item" href="/lisbon/">Lisbon</a>
      <a class="navbar-item" href="/summary/">Weekly Summary</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        Inclement Days | Providing weather forecasts for selected cities
      </div>
    </div>
  </div>
</nav>



